<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIH</title>

    <!-- CSS Links -->
    <link rel="stylesheet " href="{{ url_for('static', filename = 'css/home.css') }}" >
</head>
<body>
    <h1>You can't Hide from me!</h1>

    <h2>I am Baggage Detector...</h2>

    <div class="blk" style="width: 100px; height: 50px; background-color: rgb(42, 40, 39);">14, 8, 16</div>
    <div class="blk" style="width: 100px; height: 50px; background-color: rgb(235, 236, 233);">75, 1, 92</div>
    <div class="blk" style="width: 100px; height: 50px; background-color: rgb(177, 135, 87);">31, 50, 69</div>
    <div class="blk" style="width: 100px; height: 50px; background-color: rgb(79, 86, 88);">195, 9, 34</div>
    <div class="blk" style="width: 100px; height: 50px; background-color: rgb(163, 111, 61);">29, 62, 64</div>
    <div class="blk" style="width: 100px; height: 50px; background-color: rgb(99, 110, 114);">196, 13, 44</div>
    <div class="blk" style="width: 100px; height: 50px; background-color: rgb(187, 165, 137);">34, 26, 73</div>

<div class="blk" style="width: 100px; height: 70px; background-color: rgb();"></div>
<div class="blk" style="width: 100px; height: 50px; background-color: rgb(207, 158, 95);">33, 53, 81</div>
<div class="blk" style="width: 100px; height: 50px; background-color: rgb(238, 238, 233);">55, 1, 93</div>
<div class="blk" style="width: 100px; height: 50px; background-color: rgb(210, 188, 153);">36, 27, 82</div>
<div class="blk" style="width: 100px; height: 50px; background-color: rgb(99, 109, 112);">195, 11, 44</div>
<div class="blk" style="width: 100px; height: 50px; background-color: rgb(199, 135, 60);">32, 69, 78</div>
<div class="blk" style="width: 100px; height: 50px; background-color: rgb(123, 138, 143);">195, 14, 56</div>
<div class="blk" style="width: 100px; height: 50px; background-color: rgb(55, 51, 49);">16, 11, 21</div>

<div class="blk" style="width: 100px; height: 70px; background-color: rgb();"></div>

<div class="blk" style="width: 100px; height: 50px; background-color: rgb(93, 61, 36);">26, 61, 36</div>
<div class="blk" style="width: 100px; height: 50px; background-color: rgb(247, 250, 249);">158, 1, 98</div>
<div class="blk" style="width: 100px; height: 50px; background-color: rgb(51, 57, 60);">197, 13, 23</div>
<div class="blk" style="width: 100px; height: 50px; background-color: rgb(26, 25, 25);">7, 1, 10</div>
<div class="blk" style="width: 100px; height: 50px; background-color: rgb(106, 78, 51);">29, 51, 41</div>
<div class="blk" style="width: 100px; height: 50px; background-color: rgb(145, 145, 137);">61, 5, 56</div>
<div class="blk" style="width: 100px; height: 50px; background-color: rgb(118, 100, 80);">31, 31, 46</div>

    <script>
        c1 = [];
        c2 = [];
        c3 = [];
        c4 = [];
        c5 = [];
        c6 = [];
        c7 = [];
    </script>
</body>
</html>